<br>
{{burger_name}}
  {{#if devoured}}
	<button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-isDevoured="{{devoured}}">Eat your <i class="fas fa-hamburger"></i></button>
	{{/if}}
</br>